<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" type="text/css" href="{{_res_path}}/css/gachaList.css?v=1.0" />
  </head>
  <body {{ if list.length <= 8}}class="list8"{{/if}}>
    <style></style>
    <div class="container" id="container">
      <div class="main_box">
        <div class="base_info">
          <div class="uid">ID: {{user_id}}</div>
        </div>
        <div class="item_box">
          {{each list as val i}}
          <div class="item">
            <div class="role_box">
              {{ if val.element && type=="character"}}
              <img class="element_img" src="{{_res_path}}/image/{{val.element}}.png" onerror="whenError(this)" />
              {{else}}
              <span class="weaponId"> {{i+1}}</span>
              {{/if}}
              {{ if val.num>0}}
              <span class="life life{{val.element}}"> {{val.num}}</span>
              {{/if}}
              <div class="bg{{val.star}}"></div>
              <img class="role_img" src="{{_res_path}}/image/list/{{type}}/{{val.name}}.png" onerror="whenError(this)" />
              <div class="desc">Lv.{{val.level}}</div>
            </div>
             <div class="text_box">
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript">
    function whenError(a) {
      // a.onerror = null;
      // a.src = "{{pluResPath}}img/logo/role/荧.png";
    }
  </script>
</html>
